* {
  margin: 0;
  padding: 0;
}

.TowerBox {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  flex-wrap: wrap;
  max-width: calc(11*73.5px);
  gap: 2%;
  margin: max(2vh,5%);
  border: 2%;
  width: 100%;
  height: 60vh;
}

.TowerStack {
  border: black solid 1px;
  border-radius: 5px;
  height: 288px;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
}

.Plot {
  /* Total leg-length is 35px + 4px + 30px = 70px */
  height: 35px;
  width: 35px;
  /* background-color: #618ffb; */
  /* background-color: white; */
  border: 1px solid #618ffb;
  margin: calc(2 * 2px);
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  position: relative;
}

.Plot:hover {
  /* content:'\A'; */
  /* position: absolute; */
  background: #90a8df;
  transition: 2s;
}


.AddTower {
  height: 35.5px;
  width: 35.5px;
  background-color: #618ffb;
  /* align-items: ; */
  text-align: center;
  border-radius: 100%;  
}

.AddTower:hover {
  cursor: pointer;
  background-color: #618ffb;
}

.Header {
  background-color: #ccd8f4;
  height: max(200px, 20vh);
}

.Header > h1 {
  font-family: "Macondo", cursive;
  font-size: 100px;
  text-align: center;
}

.Header > h1:hover {
  color: rgb(21, 65, 2);
  
  transition: .5s;
}