* {
  margin: 0;
  padding: 0;
}

.TowerBox {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  flex-wrap: wrap;
  max-width: calc(11*73.5px);
  gap: 1%;
  margin: 10%;
  border: 2%;
  width: 100%;
  height: 600px;
}

.TowerStack {
  border: black solid 1px;
  border-radius: 5px;
  height: 282px;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
}

.Plot {
  /* Total leg-length is 35px + 4px + 30px = 70px */
  height: 35.5px;
  width: 35.5px;
  background-color: #618ffb;
  margin: calc(2 * 2px);
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.Plot:hover {
  background-color: #90a8df;
  transition: 0.3s;
}


.AddTower {
  height: 35.5px;
  width: 35.5px;
  background-color: #618ffb;
  justify-content: bottom;
  vertical-align: middle;
  text-align: center;
  border-radius: 100%;
}

.AddTower:hover {
  cursor: pointer;
  background-color: #90a8df;
}
/* h2 {
  vertical-align: middle;
  text-align: center;
  height:50px;
  width: 50px;
  font-size: calc(10px + 2vmin);
} */