* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.TowerBox {
  display: flex;
  flex: row;
  align-content: space-between;
  flex-wrap: wrap;
  gap: 1%;
  margin: 10%;
  border: 2%;
  width: 75%;
}

.TowerStack {
  border: black solid 1px;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
}

.Plot {
  height: 50px;
  width: 50px;
  background-color: #618ffb;
  margin: 3px;
  padding: 10px;
  align-content: center;
}

.Plot:hover {
  background-color: #90a8df;
  transition: 0.3s;
}

h2 {
  height:50px;
  width: 50px;
  font-size: calc(10px + 2vmin);
  vertical-align: ;
}